.jumbotron {
    background: rgb(121, 95, 128);

    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: center;
    color: White;
    min-height: 110px;
    letter-spacing:2px;
}

#footer {
  font-family: 'Open Sans', sans-serif; 
  letter-spacing: 20px;
  font-weight:normal;
}

.table{
font-family: 'Open Sans', sans-serif;
font-weight: bold;
outline-style: solid;
outline-width: 2px;
border-radius: 5px;
}

#leftCol {
font-family: 'Open Sans', sans-serif;
 background-color: rgb(211,211,211);
 padding: 20px;
 border-left: 2px solid darkgrey;
 border-right: 2px solid darkgrey;
 position: absolute;
 height: 170%;
}

#rightCol {
  font-family: 'Open Sans', sans-serif;
    background-color: rgb(211,211,211);
    padding: 10px;
    border-left: 2px solid darkgrey;
    border-right: 2px solid darkgrey;
    position: absolute;
    height: 170%;
   }

#navbar {
  text-align: center;  
}

#tableColor {
    background-color:white;  
  }


  ul {
    
    font-family: 'Open Sans', sans-serif;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .borderHeading {
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
    color: rgb(121, 95, 128); 
    border-radius: 5px;
    background-color: lightgrey;
    border-style:solid;
    border-color: darkgrey;
    padding: 2px;  
  }

  .borderHeadingAccount {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: rgb(121, 95, 128); 
    border-radius: 5px;
    background-color: lightgrey;
    border-style:solid;
    border-color: darkgrey;
    padding: 2px;  
    
  }

  .borderHeadingRegister {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: rgb(121, 95, 128); 
    border-radius: 5px;
    background-color: lightgrey;
    border-style:solid;
    border-color: darkgrey;
    padding: 2px;  
    
  }



span{
    width: 50%;
}


.left {
    float: left;
    background:blue;
}


.right {
    float: right;
    background:Red;
}


@media only screen and (max-width: 480px) {
    .left, .right {
        float: none;
        width: 100%;
        display:blocK;
    }
}
.containerMessage {
  font-family: 'Open Sans', sans-serif;
  background-color:rgb(248,248,248);
  width: 545px;
  height: 300px;
  margin: auto;
  border-radius: 5px;
  border: 3px solid darkgrey;
}

.containerPosting{
  font-family: 'Open Sans', sans-serif;
  background-color:rgb(248,248,248);
  width: 545px;
  height: 1025px;
  margin: auto;
  border-radius: 5px;
  border: 3px solid darkgrey;
}

.containerAccount {
  font-family: 'Open Sans', sans-serif;
  background-color:rgb(248,248,248);
  width: 350px;
  height: 325px;
  margin: auto;
  border-radius: 5px;
  border: 3px solid darkgrey;
}
.containerRegister {
  font-family: 'Open Sans', sans-serif;
  background-color:rgb(248,248,248);
  width: 350px;
  height: 325px;
  margin: auto;
  border-radius: 5px;
  border: 3px solid darkgrey;
}

.msg {
  font-family: 'Open Sans', sans-serif;
    left:20%;
    top:25%;
    width:30%;
    background-color:white;
    color:grey;
}

#usermsg {
  font-family: 'Open Sans', sans-serif;
  flex: 1;
  border-radius: 4px;
  border: 1px solid darkgrey;
  width: 380px;
  ;
}

#submitmsg {
  font-family: 'Open Sans', sans-serif;
  border: solid 1px;
  padding: 1px;
  border-radius: 5px;
  background-color:rgb(191,148,228);
}

#chatbox {
  font-family: 'Open Sans', sans-serif;
    text-align: left;
    margin: 0 auto;
    margin-top:10px;
    margin-bottom: 10px;
    padding: 10px;
    background: #fff;
    height: 235px;
    width: 500px;
    border: 1px solid #a7a7a7;
    overflow: auto;
    border-radius: 2px;
  
  }

  #chatboxAccount{
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    margin: 0 auto;
    margin-top:10px;
    margin-bottom: 10px;
    padding: 10px;
    background: #fff;
    height: 290px;
    width: 290px;
    border: 1px solid #a7a7a7;
    overflow: auto;
    border-radius: 2px;
  
  }
  #usermsgAccount {
    font-family: 'Open Sans', sans-serif;
    flex: 1;
    border-radius: 4px;
    border: 1px solid darkgrey;
    width: 300px;
    ;
  }

  #submitmsgAccount {
    font-family: 'Open Sans', sans-serif;
    border: solid 1px;
    padding: 1px;
    border-radius: 5px;
    background-color:rgb(191,148,228);
    width: 100px;
  }

  #usermsgRegister1 {
    font-family: 'Open Sans', sans-serif;
    flex: 1;
    border-radius: 4px;
    border: 1px solid darkgrey;
    width: 100px;
    text-align: left;
    ;
  }
  
  #submitmsgRegister1 {
    font-family: 'Open Sans', sans-serif;
    border: solid 1px;
    padding: 1px;
    border-radius: 5px;
    background-color:rgb(191,148,228);
    width: 120px;
  }
  a:link {
    color: purple;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: Red;
    background-color: transparent;
    text-decoration: Underline;
  }
  a:visited {
    color: Purple;
    background-color: transparent;
    text-decoration: none;
  }

  .searchBar {
    border-start-start-radius:4px;
    border-end-start-radius:4px;
    border: solid 2px;
    border-right:none;
    padding-right: 0;
  }

  .searchBtn {
    border-end-end-radius: 4px;
    border-start-end-radius: 4px;
    background-color:rgb(191,148,228);
    border: solid 2px;
    
    
  }
